@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');


.mainContainer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 12px solid purple; */
    font-family: "Bellefair", sans-serif;
}

.compContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: stretch;
    flex: 2;
    /* transition: 300ms ease-in; */
    /* border: 2px solid red; */
}

@keyframes renderComp {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
