@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontFamily : 'Bellefair', serif;
  --primaryDark : #0B0D17;
  --primaryLight : #D0D6F9;
  --secondaryLight : #FFFFFF;
}